# Iniciação em Python – Começando do ZERO

Fala galera do mundo dos dados! Quero trazer essa novidade para vocês! Na minha caminhada no mundo dos dados fiz um Ebook “Iniciação em Python – Começando do ZERO“, vou compartilhar com vocês em uma sequência de artigos divididos por assuntos, a cada semana um novo conteúdo para quem tá começando na linguagem de programação Python.

* [Linguagem de Programação Python do Zero](https://dadosaocubo.com/linguagem-de-programacao-python-do-zero/)
* [Conceitos Iniciais do Python](https://dadosaocubo.com/conceitos-iniciais-do-python/)
* [Variáveis em Python](https://dadosaocubo.com/variaveis-em-python/)
* [Estruturas de Dados em Python](https://dadosaocubo.com/estruturas-de-dados-em-python/)
* [Condicionais em Python](https://dadosaocubo.com/condicionais-em-python/)
* [Loops em Python](https://dadosaocubo.com/loops-em-python/)
* [Funções em Python](https://dadosaocubo.com/funcoes-em-python/)
* [Trabalhar com Arquivo de Texto em Python](https://dadosaocubo.com/trabalhar-com-arquivo-de-texto-em-python/)

## EStrutas de Dados

### Listas

In [1]:
# Lista de strings
animais = ['gato','tatu','rato','pato']

In [2]:
# Imprime o primeiro elemento da lista
print( animais[0] )

gato

In [3]:
# Imprime o segundo elemento da lista
print( animais[1] )

tatu

In [4]:
# Imprime o terceiro elemento da lista
print( animais[2] )

rato

In [5]:
# Imprime o quarto elemento da lista
print( animais[3] )

pato

In [7]:
# Erro elemento inexistente
print( animais[4] )

IndexError: ignored

In [8]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Imprime a soma das notas
print( 'A soma das notas:', sum(notas) )

A soma das notas: 40.0

In [9]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Insere o elemento da lista na posição 1
notas.insert(1, 5.0)
# Imprime a nova lista de notas
print( notas )

[0, 5.0, 10.0, 7.0, 7.0, 8.0, 8.0]

In [10]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Remove o primeiro elemento da lista
notas.remove(0)
# Imprime a nova lista de notas
print( notas )

[10.0, 7.0, 7.0, 8.0, 8.0]

In [11]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Imprime a maior nota da lista
print( 'A maior nota:', max(notas) )
# Imprime a menor nota da lista
print( 'A menor nota:', min(notas) )

A maior nota: 10.0
A menor nota: 0

In [12]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Ordena a lista
notas.sort()
# Imprime a nova lista de notas
print( notas )

[0, 7.0, 7.0, 8.0, 8.0, 10.0]

In [13]:
# Lista de strings
animais = ['gato','tatu','rato','pato']
# Ordena a lista com outra função
sorted( animais )

['gato', 'pato', 'rato', 'tatu']

In [14]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Insere na lista
notas.append(6.0)
# Imprime a nova lista de notas
print( notas )

[0, 10.0, 7.0, 7.0, 8.0, 8.0, 6.0]

In [15]:
# Lista de valores
notas = [0, 10.0, 7.0, 7.0, 8.0, 8.0]
# Lista de strings
animais = ['gato','tatu','rato','pato']
# Mescla as listas
notas.extend(animais)
# Imprime a nova lista de notas
print( notas )

[0, 10.0, 7.0, 7.0, 8.0, 8.0, 'gato', 'tatu', 'rato', 'pato']

In [16]:
# Soma listas
exemplo = ['z', 'y'] + ['x',]
# Imprime a lista após a soma
print( exemplo )

['z', 'y', 'x']

In [17]:
# Soma listas
exemplo += [3,]
# Imprime a lista após a nova soma
print( exemplo )

['z', 'y', 'x', 3]

In [18]:
# Retorna Multiplicação da lista
print( exemplo * 2 )

['z', 'y', 'x', 3, 'z', 'y', 'x', 3]

### Tuplas

In [19]:
# Tupla de strings
exemplo = ('a', 'b', 'c', 'd', 'e')

In [20]:
# procura o elemento b na tupla
'b' in exemplo

True

In [21]:
# procura o elemento f na tupla
'f' in exemplo

False

In [22]:
# Tupla de strings
exemplo = ('a', 'b', 'c', 'd', 'e')

In [23]:
# Retorna elementos do índice 1 até o índice 2 na
print(exemplo[1:3])

('b', 'c')

In [24]:
# Retorna elementos do inicio até o índice 2 na
print(exemplo[:3])

('a', 'b', 'c')

In [25]:
# Retorna elementos do índice 3 até o final na tupla
print(exemplo[3:])

('d', 'e')

In [26]:
# Tupla de strings
exemplo = ('a', 'b', 'c', 'a', 'e')
# Retorna a posição da primeira ocorrência do elemento a na tupla
print( 'O primeiro elemento a esta na posição:', exemplo.index('a') )
# Retorna a quantidade do elemento a na tupla
print( 'O quantidade do elemento a é:', exemplo.count('a') )

O primeiro elemento a esta na posição: 0
O quantidade do elemento a é: 2

In [27]:
# Soma tuplas
exemplo = ('z', 'y') + ('x',)
# Imprime a tupla após a soma
print( exemplo )

('z', 'y', 'x')

In [28]:
# Soma tuplas
exemplo += (3,)
# Imprime a tupla após a nova soma
print( exemplo )

('z', 'y', 'x', 3)

In [29]:
# Retorna multiplicação da tupla
print( exemplo * 2  )

('z', 'y', 'x', 3, 'z', 'y', 'x', 3)

### Dicionários

In [30]:
# Cria o dicionário
dic = { 'a' : 1, 'b' : 2, 'c' : 3 }
# Imprime a quantidade de elementos do dicionário
print( 'Tamanho do dicionário:', len(dic), 'elemento(s)' )

Tamanho do dicionário: 3 elemento(s)

In [31]:
# Deleta o elementos do dicionário chave b
del(dic['b'])
# Imprime o novo dicionario
print( 'Novo dicionário', dic )

Novo dicionário {'a': 1, 'c': 3}

In [32]:
# Cria o dicionário
dic = { 'a' : 1, 'b' : 2, 'c' : 3 }

In [33]:
# Verifica se a chave a está no dicionário
'a' in dic

True

In [34]:
# Verifica se a chave d não está no dicionário
'd' not in dic

True

In [35]:
# Cria o dicionário a
a = { 'gato' : 2, 'pato' : 4 }
# Cria o dicionário b
b = { 'tatu' : 5, 'pato' : 4 }

In [36]:
# Imprime o novo dicionário a
print( 'Dicionário a:', a )

Dicionário a: {'gato': 2, 'pato': 4}

In [37]:
# Mescla o dicionário b com o a
a.update(b)
# Imprime o dicionário b
print( 'Dicionário b:', b )

Dicionário b: {'tatu': 5, 'pato': 4}

In [38]:
# Cria o dicionário a
a = { 'gato' : 2, 'pato' : 4, 'tatu' : 5 }

In [39]:
# Retorna a lista de chaves do dicionário a
a.keys()

dict_keys(['gato', 'pato', 'tatu'])

In [40]:
# Retorna a lista de valores do dicionário a
a.values()

dict_values([2, 4, 5])

In [41]:
# Retorna a lista de tuplas(chave, valor) do dicionário a
a.items()

dict_items([('gato', 2), ('pato', 4), ('tatu', 5)])

In [42]:
# Cria a lista a
a = { 'gato', 'pato', 'tatu' }
# Cria a lista b
b = { 2, 4, 5 }
# Retorna um dicionário a como chave e b como valores
dict( zip(a, b) )

{'gato': 2, 'tatu': 4, 'pato': 5}

### Conjuntos

In [43]:
# Cria o conjunto c1
c1 = set('Dados ao Cubo')
# Imprime o conjunto c1
print(c1)

{'d', 'C', 'D', ' ', 'a', 's', 'b', 'o', 'u'}

In [44]:
# Cria o conjunto c2
c2 = set('Python')
# Imprime o conjunto c2
print(c2)

{'h', 'P', 't', 'n', 'o', 'y'}

In [45]:
# Diferença entre os conjuntos, letras que estão no c1 mas não no c2
print(c1 - c2)

{'d', 'C', 'D', ' ', 'a', 's', 'b', 'u'}

In [46]:
# Ou dos conjuntos, letras que estão em c1 ou c2
print(c1 | c2)

{'h', 'd', 'C', 'P', 't', 'D', ' ', 'a', 's', 'b', 'n', 'o', 'u', 'y'}

In [47]:
# Intersecção entre os conjuntos, letras que estão em ambos
print(c1 & c2)

{'o'}

In [48]:
# Diferença simétrica entre os conjuntos,
# letras que estão em c1 ou c2, mas não em ambos
print(c1 ^ c2)

{'h', 'd', 'P', 't', ' ', 's', 'y', 'C', 'D', 'n', 'a', 'b', 'u'}